{"swagger":"2.0","info":{"description":"Version            : 22.11.01-2c796c3\n\nBuild time             : 2022-11-01T09:37:12.236470Z\n\nThis build is done by  : Mr. Jenkins [mr.jenkins@generali.cz]\n\nGEF version            : 2.18.8\n\nGEF WS adapter version : 2.11.31-SNAPSHOT\n\nGIT revision           : 2c796c38f1c5e3321ce7fc68747c85eedc1b3850 [HEAD]\n\nServer member          : czsbpmnrestt2.cpas.cz [server]\n\n","version":"22.11.01-2c796c3","title":"Ombudsman application"},"host":"czsbpmnrestt.cpas.cz:8084","basePath":"/rest","tags":[{"name":"code-list-controller","description":"Code List Controller"},{"name":"complaint-controller","description":"Complaint Controller"},{"name":"complaint-integrations-controller","description":"Complaint Integrations Controller"},{"name":"complaint-voucher-controller","description":"Complaint Voucher Controller"},{"name":"complement-request-controller","description":"Complement Request Controller"},{"name":"copy-complaint-controller","description":"Copy Complaint Controller"},{"name":"document-controller","description":"Document Controller"},{"name":"fetch-da-controller","description":"Fetch Da Controller"},{"name":"followup-controller","description":"Followup Controller"},{"name":"frontend-url-controller","description":"Frontend Url Controller"},{"name":"history-controller","description":"History Controller"},{"name":"import-controller","description":"Import Controller"},{"name":"index-doc-controller","description":"Index Doc Controller"},{"name":"message-controller","description":"Message Controller"},{"name":"migrate-controller","description":"Migrate Controller"},{"name":"omb-search-controller","description":"Omb Search Controller"},{"name":"partner-address-controller","description":"Partner Address Controller"},{"name":"partner-claim-controller","description":"Partner Claim Controller"},{"name":"partner-contact-controller","description":"Partner Contact Controller"},{"name":"partner-controller","description":"Partner Controller"},{"name":"partner-policy-controller","description":"Partner Policy Controller"},{"name":"pk-link-controller","description":"Pk Link Controller"},{"name":"policy-controller","description":"Policy Controller"},{"name":"process-doc-controller","description":"Process Doc Controller"},{"name":"pwb-link-controller","description":"Pwb Link Controller"},{"name":"report-controller","description":"Report Controller"},{"name":"run-scheduled-job-controller","description":"Run Scheduled Job Controller"},{"name":"snapshot-nps-controller","description":"Snapshot Nps Controller"},{"name":"subdelivery-controller","description":"Subdelivery Controller"},{"name":"suggestion-controller","description":"Suggestion Controller"},{"name":"task-controller","description":"Task Controller"},{"name":"task-list-controller","description":"Task List Controller"},{"name":"template-controller","description":"Template Controller"},{"name":"testing-email-controller","description":"Testing Email Controller"},{"name":"user-mng-controller","description":"User Mng Controller"},{"name":"version-controller","description":"Version Controller"}],"schemes":["http","https"],"paths":{"/omb/codelists":{"post":{"tags":["code-list-controller"],"summary":"Return list of codelists based on search criteria","description":"Return list of codelists based on search criteria","operationId":"searchCodelistsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"reqDto","description":"reqDto","required":true,"schema":{"$ref":"#/definitions/CodelistSearchDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CodelistSearchResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/codelists/complaint-area/new":{"post":{"tags":["code-list-controller"],"summary":"Create a new row in complaintArea table","description":"Create a new row in complaintArea table","operationId":"newComplaintAreaUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ComplaintAreaReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintAreaResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/codelists/complaint-area/{idComplaintArea}":{"put":{"tags":["code-list-controller"],"summary":"Update a row in complaintArea table","description":"Update a row in complaintArea table","operationId":"updateComplaintAreaUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idComplaintArea","in":"path","description":"idComplaintArea","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ComplaintAreaReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintAreaResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/codelists/product-list":{"get":{"tags":["code-list-controller"],"summary":"Return all products","description":"Return all products","operationId":"getProductListUsingGET","produces":["*/*"],"parameters":[{"name":"pageMetaData","in":"query","description":"pageMetaData","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/codelists/product/new":{"post":{"tags":["code-list-controller"],"summary":"Create a new Product","description":"Create a new Product","operationId":"createProductUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"productReqDto","description":"productReqDto","required":true,"schema":{"$ref":"#/definitions/NewProductReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NewProductReqDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/codelists/product/{idProduct}/update":{"put":{"tags":["code-list-controller"],"summary":"Update a new Product","description":"Update a new Product of the given ID","operationId":"updateProductUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idProduct","in":"path","description":"idProduct","required":true,"type":"integer","format":"int32"},{"in":"body","name":"productReqDto","description":"productReqDto","required":true,"schema":{"$ref":"#/definitions/NewProductReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NewProductReqDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/codelists/recipient-group-list":{"get":{"tags":["code-list-controller"],"summary":"Get collection of recipient groups","description":"Get collection of recipients groups","operationId":"listRecipientGroupsUsingGET","produces":["*/*"],"parameters":[{"name":"pageMetaData","in":"query","description":"pageMetaData","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResDto«RecipientGroupResDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/codelists/recipient-group/new":{"post":{"tags":["code-list-controller"],"summary":"Create a new row in recipient group table","description":"Create a new row in recipient group table","operationId":"newRecipientGroupUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/RecipientGroupReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RecipientGroupResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/codelists/recipient-group/{idRecipientGroup}":{"put":{"tags":["code-list-controller"],"summary":"Update a row in recipient group table","description":"Update a row in recipient group table","operationId":"updateRecipientGroupUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idRecipientGroup","in":"path","description":"idRecipientGroup","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/RecipientGroupReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RecipientGroupResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/codelists/recipient-list":{"get":{"tags":["code-list-controller"],"summary":"Get collection of recipients","description":"Get collection of recipients","operationId":"listRecipientsUsingGET","produces":["*/*"],"parameters":[{"name":"pageMetaData","in":"query","description":"pageMetaData","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResDto«RecipientResDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/codelists/recipient/new":{"post":{"tags":["code-list-controller"],"summary":"Create a new row in recipient table","description":"Create a new row in recipient table","operationId":"newRecipientUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/RecipientReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RecipientResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/codelists/recipient/{idRecipient}":{"put":{"tags":["code-list-controller"],"summary":"Update a row in recipient table","description":"Update a row in recipient table","operationId":"updateRecipientUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idRecipient","in":"path","description":"idRecipient","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/RecipientReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RecipientResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/codelists/short-time-tracking/new":{"post":{"tags":["code-list-controller"],"summary":"Create a new Product","description":"Create a new Product","operationId":"createShortTimeTrackingUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"reqDto","description":"reqDto","required":true,"schema":{"$ref":"#/definitions/ShortTimeTrackingReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ShortTimeTrackingResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/codelists/short-time-tracking/{id}":{"put":{"tags":["code-list-controller"],"summary":"Update a new Product","description":"Update a new Product of the given ID","operationId":"updateShortTimeTrackingUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"reqDto","description":"reqDto","required":true,"schema":{"$ref":"#/definitions/ShortTimeTrackingReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ShortTimeTrackingResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/codelists/{id}":{"get":{"tags":["code-list-controller"],"summary":"Get code list with specific ID","description":"Get code list with specific ID","operationId":"codeListDataUsingGET_1","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CodeListResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/codelists/{id}/search":{"post":{"tags":["code-list-controller"],"summary":"Return codelist rows matching search criteria","description":"Return codelist rows matching search criteria","operationId":"codeListDataSearchUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/CodelistDataSearchReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CodeListResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/codelists/{id}/{rowId}":{"get":{"tags":["code-list-controller"],"summary":"Get row of specific code list","description":"Get row of specific code list","operationId":"codeListDataUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"rowId","in":"path","description":"rowId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CodeTableRow"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint-voucher/{id-complaint-voucher}":{"put":{"tags":["complaint-voucher-controller"],"summary":"Update complaint voucher","description":"Update complaint voucher","operationId":"updateUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-complaint-voucher","in":"path","description":"id-complaint-voucher","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ComplaintVoucherReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintVoucherResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false},"delete":{"tags":["complaint-voucher-controller"],"summary":"Delete complaint voucher","description":"Delete complaint voucher","operationId":"deleteComplaintVoucherUsingDELETE","produces":["*/*"],"parameters":[{"name":"id-complaint-voucher","in":"path","description":"id-complaint-voucher","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint-voucher/{id-complaint}":{"post":{"tags":["complaint-voucher-controller"],"summary":"Upload new complaint voucher","description":"Upload new complaint voucher","operationId":"addComplaintVoucherUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-complaint","in":"path","description":"id-complaint","required":true,"type":"integer","format":"int32"},{"name":"representative-for","in":"header","description":"representative-for","required":false,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ComplaintVoucherReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintVoucherResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/complaint-info":{"post":{"tags":["frontend-url-controller"],"summary":"Get data for frontend URL from caseId and taskId","operationId":"complaintInfoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"representative-for","in":"header","description":"representative-for","required":false,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/FrontendUrlReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintInfoResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/complaint-list":{"get":{"tags":["complaint-controller"],"summary":"Get complaints owned by user","description":"Get complaints owned by user","operationId":"getComplaintListUsingGET","produces":["*/*"],"parameters":[{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ComplaintResDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/complaints-by-index":{"post":{"tags":["complaint-controller"],"summary":"Resource used for BExBE integration with LCM","description":"Resource used for BExBE integration with LCM","operationId":"complaintsByIndexUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"complaintsByIndexReqDto","description":"complaintsByIndexReqDto","required":true,"schema":{"$ref":"#/definitions/ComplaintsByIndexReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintsListByIndexResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/new":{"get":{"tags":["complaint-controller"],"summary":"Start new case manually","description":"Start new case manually with GCP as default company","operationId":"complaintNewUsingGET_1","produces":["*/*"],"parameters":[{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NewComplaintResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false},"post":{"tags":["complaint-controller"],"summary":"Start new case manually with parameters","description":"Start new case manually with parameters","operationId":"complaintNewWithDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/NewComplaintReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NewComplaintResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/new/{idGeneraliCompany}":{"get":{"tags":["complaint-controller"],"summary":"Start new case manually","description":"Start new case manually","operationId":"complaintNewUsingGET","produces":["*/*"],"parameters":[{"name":"idGeneraliCompany","in":"path","description":"idGeneraliCompany","required":true,"type":"integer","format":"int32"},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NewComplaintResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/search":{"post":{"tags":["omb-search-controller"],"summary":"Search for Complaint using search criteria","description":"Search for Complaint using search criteria","operationId":"complaintSearchUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"complaintSearchDto","description":"complaintSearchDto","required":true,"schema":{"$ref":"#/definitions/ComplaintSearchDto"}},{"name":"pageMetaData","in":"query","description":"pageMetaData","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResDto«ComplaintDto»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{complaint-id}/cancel":{"put":{"tags":["complaint-controller"],"summary":"Delete the process instance in Camunda","description":"Delete the process instance in Camunda and set specific values to the complaint","operationId":"cancelProcessUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"complaint-id","in":"path","description":"complaint-id","required":true,"type":"integer","format":"int32"},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{complaint-id}/complete":{"put":{"tags":["complaint-controller"],"summary":"Complete the process instance in Camunda","description":"Complete the process instance in Camunda and set specific values to the complaint","operationId":"completeProcessUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"complaint-id","in":"path","description":"complaint-id","required":true,"type":"integer","format":"int32"},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{complaint-id}/documents/attach-doc":{"post":{"tags":["document-controller"],"summary":"Attach docs from DA to OMB","description":"Attach docs from DA to OMB","operationId":"attachDaDocumentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"complaint-id","in":"path","description":"complaint-id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"documentIds","description":"documentIds","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocumentListResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{complaint-id}/evaluation":{"post":{"tags":["complaint-controller"],"summary":"complaintEvaluation","operationId":"complaintEvaluationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"complaint-id","in":"path","description":"complaint-id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{complaint-id}/histories":{"get":{"tags":["history-controller"],"summary":"Get history collection","description":"Get history collection for given complaint-id","operationId":"getAllHistoryUsingGET","produces":["*/*"],"parameters":[{"name":"complaint-id","in":"path","description":"complaint-id","required":true,"type":"integer","format":"int32"},{"name":"pageMetaData","in":"query","description":"pageMetaData","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResDto«HistoryResDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false},"post":{"tags":["history-controller"],"summary":"Adding a new History","description":"Adding a new History for a given complaint-id","operationId":"addNewHistoryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"complaint-id","in":"path","description":"complaint-id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"reqDto","description":"reqDto","required":true,"schema":{"$ref":"#/definitions/NewHistoryDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResDto«HistoryResDto»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{complaint-id}/related-legal-cases":{"get":{"tags":["complaint-integrations-controller"],"summary":"Obtain legal cases related to complaint","description":"Resource used to obtain collection of legal cases related to complaint","operationId":"relatedLegalCasesUsingGET","produces":["*/*"],"parameters":[{"name":"complaint-id","in":"path","description":"complaint-id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LegalCaseByIndexResDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{complaint-id}/report/policy-detail":{"post":{"tags":["report-controller"],"summary":"Obtain policy detail from CCD","description":"Obtain policy detail from CCD","operationId":"policyDetailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"complaint-id","in":"path","description":"complaint-id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"policyReqDto","description":"policyReqDto","required":true,"schema":{"$ref":"#/definitions/PolicyReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PolicyResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{complaint-id}/suggestion/new":{"post":{"tags":["suggestion-controller"],"summary":"Create a new suggestion for a complaint","description":"Create a new suggestion and add it to a given complaint also start a new Camunda case","operationId":"addNewSuggestionProcessUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"complaint-id","in":"path","description":"complaint-id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"reqDto","description":"reqDto","required":true,"schema":{"$ref":"#/definitions/SuggestionReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuggestionResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id-complaint}":{"get":{"tags":["complaint-controller"],"summary":"Serve one full complaint","description":"Serve one full complaint","operationId":"getComplaintUsingGET","produces":["*/*"],"parameters":[{"name":"id-complaint","in":"path","description":"id-complaint","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id-complaint}/complement-request/{id-complement-request}/close":{"put":{"tags":["complement-request-controller"],"summary":"Close complement request","description":"Close complement request","operationId":"closeComplementRequestUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-complaint","in":"path","description":"id-complaint","required":true,"type":"integer","format":"int32"},{"name":"id-complement-request","in":"path","description":"id-complement-request","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id-complaint}/complement-requests":{"get":{"tags":["complement-request-controller"],"summary":"Get collection of complement requests related to given complaint","description":"Get collection of complement requests related to given complaint","operationId":"complementRequestsForComplaintUsingGET","produces":["*/*"],"parameters":[{"name":"id-complaint","in":"path","description":"id-complaint","required":true,"type":"integer","format":"int32"},{"name":"pageMetaData","in":"query","description":"pageMetaData","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResDto«ComplementRequestResDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id-complaint}/continue-sla":{"put":{"tags":["complaint-controller"],"summary":"Continue SLA","description":"Continue SLA for a given Complaint","operationId":"continueSlaUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-complaint","in":"path","description":"id-complaint","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id-complaint}/messages":{"get":{"tags":["message-controller"],"summary":"Get collection of messages","description":"Get collection of messages","operationId":"getMessagesUsingGET","produces":["*/*"],"parameters":[{"name":"id-complaint","in":"path","description":"id-complaint","required":true,"type":"integer","format":"int32"},{"name":"pageMetaData","in":"query","description":"pageMetaData","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessageResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id-complaint}/reassign":{"post":{"tags":["complaint-controller"],"summary":"Reassign complaint","description":"Reassign complaint to another user","operationId":"reassignComplaintUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-complaint","in":"path","description":"id-complaint","required":true,"type":"integer","format":"int32"},{"in":"body","name":"reassignCaseDtoReq","description":"reassignCaseDtoReq","required":true,"schema":{"$ref":"#/definitions/ReassignCaseDtoReq"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id-complaint}/related-complaint":{"get":{"tags":["complaint-controller"],"summary":"Retrieve all complaints related for the given complaint","description":"Retrieve all complaints related for the given complaint","operationId":"relatedComplaintUsingGET","produces":["*/*"],"parameters":[{"name":"id-complaint","in":"path","description":"id-complaint","required":true,"type":"integer","format":"int32"},{"name":"pageMetaData","in":"query","description":"pageMetaData","required":false,"type":"string"},{"name":"strict","in":"query","description":"strict","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResDto«ComplaintDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id-complaint}/stop-sla":{"put":{"tags":["complaint-controller"],"summary":"Stop SLA","description":"Stop SLA for a given Complaint","operationId":"stopSlaUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-complaint","in":"path","description":"id-complaint","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/StopSlaReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id-complaint}/update":{"put":{"tags":["complaint-controller"],"summary":"Update complaint","description":"Update complaint","operationId":"updateUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-complaint","in":"path","description":"id-complaint","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ComplaintReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id-complaint}/update-estimated-solution-date":{"post":{"tags":["complaint-controller"],"summary":"Update deadline and area of a complaint in progress","description":"Update deadline and area of a complaint in progress","operationId":"updateEstimatedSolutionDateUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-complaint","in":"path","description":"id-complaint","required":true,"type":"integer","format":"int32"},{"in":"body","name":"reqDto","description":"reqDto","required":true,"schema":{"$ref":"#/definitions/UpdateEstimatedSolutionDateReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{idComplaint}/add-report":{"post":{"tags":["report-controller"],"summary":"Add report to complaint","description":"Add report to complaint","operationId":"addReportUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idComplaint","in":"path","description":"idComplaint","required":true,"type":"integer","format":"int32"},{"in":"body","name":"reportReqDto","description":"reportReqDto","required":true,"schema":{"$ref":"#/definitions/ReportReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ReportResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{idComplaint}/documents/upload-doc":{"post":{"tags":["document-controller"],"summary":"Upload new document to DA and OMB","description":"Upload new document to DA and OMB","operationId":"uploadDocForComplaintUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idComplaint","in":"path","description":"idComplaint","required":true,"type":"integer","format":"int32"},{"in":"body","name":"reqDto","description":"reqDto","required":true,"schema":{"$ref":"#/definitions/UploadDocReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocumentResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{idComplaint}/latest-results":{"get":{"tags":["complaint-controller"],"summary":"latestResults","operationId":"latestResultsUsingGET","produces":["*/*"],"parameters":[{"name":"idComplaint","in":"path","description":"idComplaint","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LatestResultsResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{idComplaint}/message/new-concept":{"post":{"tags":["message-controller"],"summary":"Create a new row in message table with data provided in dto","description":"Create a new row in message table with data provided in dto","operationId":"newMessageConceptUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idComplaint","in":"path","description":"idComplaint","required":true,"type":"integer","format":"int32"},{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/NewMessageConceptReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NewMessageConceptResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{idComplaint}/nps-snapshot":{"get":{"tags":["snapshot-nps-controller"],"summary":"Create snapshost of current complaint state","description":"Create snapshost of current complaint state","operationId":"createSnapshotNpsUsingGET","produces":["*/*"],"parameters":[{"name":"idComplaint","in":"path","description":"idComplaint","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SnapshotNpsResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{idComplaint}/partner/{idPartner}":{"delete":{"tags":["partner-controller"],"summary":"Unassign partner from complaint","description":"Unassign partner from complaint","operationId":"deletePartnerUsingDELETE","produces":["*/*"],"parameters":[{"name":"idComplaint","in":"path","description":"idComplaint","required":true,"type":"integer","format":"int32"},{"name":"idPartner","in":"path","description":"idPartner","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{idComplaint}/partner/{idPartner}/partneraddresses":{"get":{"tags":["partner-address-controller"],"summary":"getPartnerAddresses","operationId":"getPartnerAddressesUsingGET","produces":["*/*"],"parameters":[{"name":"idComplaint","in":"path","description":"idComplaint","required":true,"type":"integer","format":"int32"},{"name":"idPartner","in":"path","description":"idPartner","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PartnerAddressResDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{idComplaint}/partner/{idPartner}/partnercontacts":{"get":{"tags":["partner-contact-controller"],"summary":"getPartnerContacts","operationId":"getPartnerContactsUsingGET","produces":["*/*"],"parameters":[{"name":"idComplaint","in":"path","description":"idComplaint","required":true,"type":"integer","format":"int32"},{"name":"idPartner","in":"path","description":"idPartner","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PartnerContactResDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{idComplaint}/partners":{"get":{"tags":["partner-controller"],"summary":"Get collection of partners","description":"Get collection of partners","operationId":"getPartnersUsingGET","produces":["*/*"],"parameters":[{"name":"idComplaint","in":"path","description":"idComplaint","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PartnerResDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{idComplaint}/reassign-running/{idWfUser}":{"post":{"tags":["complaint-controller"],"summary":"Reassign running complaint and related subdeliveries to another user","description":"Reassign running complaint and related subdeliveries to another user","operationId":"reassignRunningUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idComplaint","in":"path","description":"idComplaint","required":true,"type":"integer","format":"int32"},{"name":"idWfUser","in":"path","description":"idWfUser","required":true,"type":"integer","format":"int32"},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{idComplaint}/reports":{"get":{"tags":["report-controller"],"summary":"Get list of report entities for given complaint","description":"Get list of report entities for given complaint","operationId":"getReportsUsingGET","produces":["*/*"],"parameters":[{"name":"idComplaint","in":"path","description":"idComplaint","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ReportResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{idComplaint}/subdelivery/new":{"post":{"tags":["subdelivery-controller"],"summary":"Create new subdelivery","description":"Create new subdelivery","operationId":"createNewSubdeliveryUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idComplaint","in":"path","description":"idComplaint","required":true,"type":"integer","format":"int32"},{"in":"body","name":"subdeliveryRequest","description":"subdeliveryRequest","required":true,"schema":{"$ref":"#/definitions/SubdeliveryReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SubdeliveryResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{idComplaint}/subdelivery/new-concept":{"post":{"tags":["subdelivery-controller"],"summary":"Save a concept of subdelivery","description":"Save a concept of subdelivery","operationId":"createSubdeliveryNewConceptUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idComplaint","in":"path","description":"idComplaint","required":true,"type":"integer","format":"int32"},{"in":"body","name":"subdeliveryRequest","description":"subdeliveryRequest","required":true,"schema":{"$ref":"#/definitions/SubdeliveryReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SubdeliveryResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{idComplaint}/switch-company":{"get":{"tags":["migrate-controller"],"summary":"migrateComplaint","operationId":"migrateComplaintUsingGET","produces":["*/*"],"parameters":[{"name":"idComplaint","in":"path","description":"idComplaint","required":true,"type":"integer","format":"int32"},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{idComplaint}/upload-phone-solution-da":{"post":{"tags":["complaint-controller"],"summary":"Upload phone solution of complaint as HTML to DA","description":"Upload phone solution of complaint as HTML to DA","operationId":"uploadPhoneSolutionDaComplaintUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idComplaint","in":"path","description":"idComplaint","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UploadPhoneSolutionReqDto"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/add-document":{"post":{"tags":["document-controller"],"summary":"Add document to complaint","description":"Add document to complaint","operationId":"addDocumentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/AddDocumentReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocumentResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/archive-all-documents":{"put":{"tags":["document-controller"],"summary":"Archive all documents for the given complaint","description":"Documents in DA will be moved to archive level","operationId":"archiveAllDocumentsUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DocumentResDto"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/copy-from-previous":{"post":{"tags":["copy-complaint-controller"],"summary":"Fetch data from previous complaint with the same number","operationId":"copyFromPreviousUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"copyComplaintControllerReqDto","description":"copyComplaintControllerReqDto","required":true,"schema":{"$ref":"#/definitions/CopyComplaintControllerReqDto"}},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/documents":{"get":{"tags":["document-controller"],"summary":"Return collection of documents related to complaint with specified status","description":"Return collection of documents related to complaint with specified status. If no status is specified, return all","operationId":"getDocumentsByStatusUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"name":"status","in":"query","description":"status","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DocumentResDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/generate-pwb-link":{"post":{"tags":["pwb-link-controller"],"summary":"Generate link to JOK PWB","description":"Generate link to JOK PWB","operationId":"generatePwbLinkUsingPOST","consumes":["application/json"],"produces":["*/*","text/plain"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"pwbLinkReqDto","description":"pwbLinkReqDto","required":true,"schema":{"$ref":"#/definitions/PwbLinkReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/launch-follow-up":{"post":{"tags":["followup-controller"],"summary":"Start the follow up process instance for the given complaint","description":"Start the follow up process instance for the given complaint","operationId":"launchFollowupUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"reqDto","description":"reqDto","required":true,"schema":{"$ref":"#/definitions/FollowupReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/next-step":{"get":{"tags":["complaint-controller"],"summary":"Move to next step in the wizard","description":"Move to next step in the wizard for the given complaint id","operationId":"moveNextStepUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/record-note-to-da":{"post":{"tags":["document-controller"],"summary":"Record note to DA","description":"Record note to DA and store note information in database","operationId":"recordNoteToDaUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/DaNoteReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/related-complaints":{"get":{"tags":["complaint-controller"],"summary":"Obtain collection of complaints with the same complaint number","description":"Obtain collection of complaints with the same complaint number","operationId":"relatedComplaintsUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ComplaintResDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/send-email-dmo":{"post":{"tags":["complaint-integrations-controller"],"summary":"Send any email via DMO","description":"Send any email via DMO service","operationId":"sendEmailDmoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/MessageReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MessageResDto"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/send-pdf-dmo":{"post":{"tags":["complaint-integrations-controller"],"summary":"Send any pdf via DMO","description":"Send any pdf via DMO service","operationId":"sendPdfDmoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/LetterReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MessageResDto"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/send-sms-dmo":{"post":{"tags":["complaint-integrations-controller"],"summary":"Send any sms via DMO","description":"Send any sms via DMO service","operationId":"sendSmsDmoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SmsReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MessageResDto"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/subdeliveries":{"get":{"tags":["subdelivery-controller"],"summary":"Read list of subdeliveries for given case","description":"Read list of subdeliveries for given case","operationId":"getAllSubdeliveriesUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"name":"pageMetaData","in":"query","description":"pageMetaData","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResDto«SubdeliveryItemResDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/submit-document-review":{"get":{"tags":["task-controller"],"summary":"Complete OMB_ControlDocument task for passed ID complaint","description":"Complete OMB_ControlDocument task for passed ID complaint and return the info if present aboutOMB_SolveComplaint task","operationId":"submitDocumentReviewUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SubmitDocumentReviewResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/submit-follow-up":{"post":{"tags":["followup-controller"],"summary":"Submit the follow up task instance for the given follow up process","description":"Submit the follow up task instance for the given follow up process","operationId":"submitFollowupUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"reqDto","description":"reqDto","required":true,"schema":{"$ref":"#/definitions/FollowupReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/submit-new-complaint":{"post":{"tags":["task-controller"],"summary":"Submit a new complaint","description":"Submit a new complaint and proceed the process instance in accordance with the decision acquired in the req body","operationId":"submitNewComplaintUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"name":"representative-for","in":"header","description":"representative-for","required":false,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ComplaintDecisionDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SubmitNewComplaintResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/submit-response-compliment":{"get":{"tags":["task-controller"],"summary":"Complete OMB_RespondToCompliment task for passed ID complaint","description":"Complete OMB_RespondToCompliment task for passed ID complaint","operationId":"submitResponseComplimentUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/suggestions":{"get":{"tags":["suggestion-controller"],"summary":"Read list of suggestions for given case","description":"Read list of suggestions for given case","operationId":"getAllSuggestionsUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"name":"pageMetaData","in":"query","description":"pageMetaData","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResDto«SuggestionResDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/complaint/{id}/vouchers":{"get":{"tags":["complaint-voucher-controller"],"summary":"Get collection of vouchers for given idComplaint","description":"Get collection of vouchers for given idComplaint","operationId":"getComplaintVouchersUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"name":"pageMetaData","in":"query","description":"pageMetaData","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResDto«ComplaintVoucherResDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/current-user":{"get":{"tags":["user-mng-controller"],"summary":"Get current user","description":"Get current user info from Camunda","operationId":"getUserInfoUsingGET","produces":["*/*"],"parameters":[{"name":"representative-for","in":"header","description":"representative-for","required":false,"type":"string"},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FullUserResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/document/{complaint-number}":{"get":{"tags":["document-controller"],"summary":"Get all documents related to the complaint","description":"Get a list of all documents related to the complaint number","operationId":"getAllDocumentsUsingGET","produces":["*/*"],"parameters":[{"name":"complaint-number","in":"path","description":"complaint-number","required":true,"type":"string"},{"name":"pageMetaData","in":"query","description":"pageMetaData","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResDto«DocumentResDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/document/{idDocument}/update-description":{"put":{"tags":["document-controller"],"summary":"Set new description for document","description":"Set new description for document","operationId":"updateDocumentDescriptionUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idDocument","in":"path","description":"idDocument","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateDocumentDescriptionReqDto"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/document/{id}":{"put":{"tags":["document-controller"],"summary":"Update document","description":"Update document","operationId":"updateDocumentUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateDocumentReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocumentResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false},"delete":{"tags":["document-controller"],"summary":"Delete document","description":"Delete document","operationId":"deleteDocumentUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/document/{id}/detach":{"delete":{"tags":["document-controller"],"summary":"Delete document from DB and its relative DynamicIndexes","description":"Delete document from DB and its relative DynamicIndexes","operationId":"detachDocumentUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/document/{id}/update-type":{"put":{"tags":["document-controller"],"summary":"Set new document type for document","description":"Set new document type for document","operationId":"updateDocumentTypeUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateDocumentTypeReqDto"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/accept-docs":{"post":{"tags":["document-controller"],"summary":"Mark documents as accepted to be assigned to a complaint","description":"Mark documents as accepted to be assigned to a complaint","operationId":"acceptDocsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"documentIds","description":"documentIds","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/extract-from-envelope":{"post":{"tags":["document-controller"],"summary":"Remove envelope number","description":"Remove envelope number from our DB and from the DA as well","operationId":"removeEnvelopeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"documentListInput","description":"documentListInput","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/make-copy":{"post":{"tags":["document-controller"],"summary":"Make Copy","description":"Make copy of selected docs","operationId":"makeCopyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"documentList","description":"documentList","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/processing-error":{"get":{"tags":["document-controller"],"summary":"Return documents causing errors in TIA","description":"Return documents causing errors in TIA","operationId":"processingErrorUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DocumentResDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/queue":{"get":{"tags":["document-controller"],"summary":"Return documents in queue to be assigned","description":"Return documents in queue to be assigned","operationId":"getDocumentsQueueUsingGET","produces":["*/*"],"parameters":[{"name":"pageMetaData","in":"query","description":"pageMetaData","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResDto«DocumentResDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/search":{"post":{"tags":["document-controller"],"summary":"Search for documents using search criteria","description":"Search for documents using search criteria","operationId":"searchForDocumentsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"documentSearchDto","description":"documentSearchDto","required":true,"schema":{"$ref":"#/definitions/DocumentSearchDto"}},{"name":"pageMetaData","in":"query","description":"pageMetaData","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResDto«DocumentResDto»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/send-to-da":{"post":{"tags":["document-controller"],"summary":"Send to DA","description":"Send to DA all documents","operationId":"sendToDaUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"documentIdList","description":"documentIdList","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/synchronize-envelope":{"post":{"tags":["document-controller"],"summary":"Synchronize envelope","description":"Synchronize envelope with the same data for all documents","operationId":"synchronizeEnvelopeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"documentListInput","description":"documentListInput","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/unaccept-docs":{"post":{"tags":["document-controller"],"summary":"Mark documents as not accepted","description":"Mark documents as not accepted","operationId":"unacceptDocsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"documentIds","description":"documentIds","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/upload-doc-to-queue":{"post":{"tags":["document-controller"],"summary":"Upload new document to DA and OMB and put into queue","description":"Upload new document to DA and OMB and put into queue","operationId":"uploadDocToQueueUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"reqDto","description":"reqDto","required":true,"schema":{"$ref":"#/definitions/UploadDocReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocumentResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/{document-id}":{"get":{"tags":["document-controller"],"summary":"Return document information including indexes","description":"Return document information including indexes","operationId":"getDocumentUsingGET","produces":["*/*"],"parameters":[{"name":"document-id","in":"path","description":"document-id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocumentFullResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/{id-document}/lock-doc":{"get":{"tags":["document-controller"],"summary":"Lock document to prevent update","description":"Lock document to prevent update","operationId":"lockDocumentUsingGET","produces":["*/*"],"parameters":[{"name":"id-document","in":"path","description":"id-document","required":true,"type":"integer","format":"int32"},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocumentResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/{id-document}/return-to-queue":{"put":{"tags":["document-controller"],"summary":"Returns document to document queue","description":"Returns document to document queue","operationId":"returnToQueueDocumentUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id-document","in":"path","description":"id-document","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/{id-document}/unlock-doc":{"get":{"tags":["document-controller"],"summary":"Unlock document to allow update","description":"Unlock document to allow update","operationId":"unlockDocumentUsingGET","produces":["*/*"],"parameters":[{"name":"id-document","in":"path","description":"id-document","required":true,"type":"integer","format":"int32"},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocumentResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/{idDocument}/migrate-doc":{"post":{"tags":["migrate-controller"],"summary":"Migrate selected document to another DA","description":"Migrate selected document to another DA","operationId":"migrateDocUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idDocument","in":"path","description":"idDocument","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/MigrateDocReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocumentFullResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/{id}/index-doc":{"post":{"tags":["index-doc-controller"],"summary":"Update selected document in DA","description":"Update selected document in DA","operationId":"indexDocUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/IndexDocReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/documents/{id}/process-doc":{"post":{"tags":["process-doc-controller"],"summary":"Update selected document in DA","description":"Update selected document in DA","operationId":"processDocUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ProcessDocReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/fetch-da-email":{"post":{"tags":["fetch-da-controller"],"summary":"Fetch email from DA","description":"Get email from DA in HTML format","operationId":"getEmailFromDaUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"reqDto","description":"reqDto","required":true,"schema":{"$ref":"#/definitions/FetchDocumentsReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/fetch-da-files":{"post":{"tags":["fetch-da-controller"],"summary":"Fetch file from DA","description":"Get physical file from DA as array with Base64","operationId":"getFileFromDaUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"reqDto","description":"reqDto","required":true,"schema":{"$ref":"#/definitions/FetchDocumentsReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PhysicalFilesResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/follow-up/follow-up-info":{"post":{"tags":["frontend-url-controller"],"summary":"Translate link information to complaint info","description":"Translate link information to complaint info","operationId":"followUpInfoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"representative-for","in":"header","description":"representative-for","required":false,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/FrontendUrlReqDto"}},{"name":"x-user-id","in":"header","description":"x-user-id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintInfoResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/groups":{"get":{"tags":["user-mng-controller"],"summary":"Get list of groups in Camunda","description":"Get list of all groups present in Camunda database","operationId":"getGroupListUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/histories/{complaint-number}":{"get":{"tags":["history-controller"],"summary":"Get history collection","description":"Get history collection for given complaint-number","operationId":"getAllHistoryComplaintNumberUsingGET","produces":["*/*"],"parameters":[{"name":"complaint-number","in":"path","description":"complaint-number","required":true,"type":"string"},{"name":"pageMetaData","in":"query","description":"pageMetaData","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaginatedResDto«HistoryResDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/import/fix-reports-results":{"get":{"tags":["import-controller"],"summary":"fixReportsResults","operationId":"fixReportsResultsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/imported-complaint/search":{"post":{"tags":["omb-search-controller"],"summary":"Search for ImportedComplaint using search criteria","description":"Search for ImportedComplaint using search criteria","operationId":"importedComplaintSearchUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"importedComplaintSearchDto","description":"importedComplaintSearchDto","required":true,"schema":{"$ref":"#/definitions/ImportedComplaintSearchDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ImportedComplaintDto"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/jobs/run-job/{className}/{methodName}":{"get":{"tags":["run-scheduled-job-controller"],"summary":"Manually run scheduler task by specifying class name and method name","description":"Class name should correspond to bean name in Spring context, method must be annotatedwith @Scheduled annotation","operationId":"getUsingGET","produces":["*/*"],"parameters":[{"name":"className","in":"path","description":"className","required":true,"type":"string"},{"name":"methodName","in":"path","description":"methodName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/message/{idMessage}":{"delete":{"tags":["message-controller"],"summary":"Delete message concept from db","description":"Delete message concept from db","operationId":"deleteMessageConceptUsingDELETE","produces":["*/*"],"parameters":[{"name":"idMessage","in":"path","description":"idMessage","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/partner/assign-to-complaint/{complaint-id}":{"post":{"tags":["partner-controller"],"summary":"Assign a partner to a complaint","description":"Assign a partner to a given complaint","operationId":"assignToCaseUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"complaint-id","in":"path","description":"complaint-id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"reqListDto","description":"reqListDto","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AssignPartnerReqDto"}}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/partner/search":{"post":{"tags":["partner-controller"],"summary":"Search for the complaining party","description":"Search for the complaining party","operationId":"searchPartnerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"reqDto","description":"reqDto","required":true,"schema":{"$ref":"#/definitions/SearchPartnerReqDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SearchPartnerResDto"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/partner/search-third-party":{"post":{"tags":["partner-controller"],"summary":"Search for the third party information","description":"Search for the third party information","operationId":"searchThirdPartyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"reqDto","description":"reqDto","required":true,"schema":{"$ref":"#/definitions/ThirdPartySearchDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ThirdPartyResDto"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/partner/{idPartner}/pk-link":{"get":{"tags":["pk-link-controller"],"summary":"Generate link to JOK PK","description":"Generate link to JOK PK","operationId":"generatePkLinkUsingGET","produces":["*/*"],"parameters":[{"name":"idPartner","in":"path","description":"idPartner","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PkLinkResDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/partner/{idPartner}/update":{"put":{"tags":["partner-controller"],"summary":"Update Partner entity","description":"Update Partner entity","operationId":"updateUsingPUT_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"idPartner","in":"path","description":"idPartner","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PartnerReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PartnerResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/partner/{id}/address/new":{"post":{"tags":["partner-address-controller"],"summary":"Add a new partner address","description":"Add a new partner address specifying the street, city, isActive and primaryAddress","operationId":"addPartnerAddressUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"partnerAddressDto","description":"partnerAddressDto","required":true,"schema":{"$ref":"#/definitions/PartnerAddressReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PartnerAddressResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/partner/{id}/claim/new":{"post":{"tags":["partner-claim-controller"],"summary":"Add new PartnerClaim row","description":"Add new PartnerClaim row","operationId":"addUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PartnerClaimReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PartnerClaimResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/partner/{id}/claims":{"get":{"tags":["partner-claim-controller"],"summary":"Get collection of partner claims","description":"Get collection of partner claims","operationId":"findByPartnerUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PartnerClaimResDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/partner/{id}/contact/new":{"post":{"tags":["partner-contact-controller"],"summary":"Add a new partner contact","description":"Add a new partner contact specifying contactType, contactValue and preferredContact","operationId":"addPartnerContactUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"partnerContactDto","description":"partnerContactDto","required":true,"schema":{"$ref":"#/definitions/PartnerContactReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PartnerContactResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/partner/{id}/policies":{"get":{"tags":["partner-policy-controller"],"summary":"Get collection of partner policies","description":"Get collection of partner policies","operationId":"findByPartnerUsingGET_1","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PartnerPolicyResDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/partner/{id}/policy/new":{"post":{"tags":["partner-policy-controller"],"summary":"Add new PartnerPolicy row","description":"Add new PartnerPolicy row","operationId":"addUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PartnerPolicyReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PartnerPolicyResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/partner/{id}/primary-contact-value":{"post":{"tags":["partner-contact-controller"],"summary":"Get collection of partners","operationId":"primaryContactValueUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"primaryContactValueReqDto","description":"primaryContactValueReqDto","required":true,"schema":{"$ref":"#/definitions/PrimaryContactValueReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PrimaryContactValueResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/partneraddress/{id}":{"put":{"tags":["partner-address-controller"],"summary":"Update a new partner address","description":"Update a new partner address specifying the street, city, isActive and primaryAddress","operationId":"updatePartnerAddressUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"partnerAddressDto","description":"partnerAddressDto","required":true,"schema":{"$ref":"#/definitions/PartnerAddressReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PartnerAddressResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false},"delete":{"tags":["partner-address-controller"],"summary":"Delete a partner address","description":"Delete a partner address specifying the id of the address","operationId":"deletePartnerAddressUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/partnerclaim/{id}":{"put":{"tags":["partner-claim-controller"],"summary":"Update PartnerClaim row","description":"Update PartnerClaim row","operationId":"updateUsingPUT_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PartnerClaimReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PartnerClaimResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false},"delete":{"tags":["partner-claim-controller"],"summary":"Delete PartnerClaim row","description":"Delete PartnerClaim row","operationId":"deleteUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/partnercontact/{id}":{"put":{"tags":["partner-contact-controller"],"summary":"Update a new partner contact","description":"Add a new partner contact specifying contactType, contactValue and preferredContact","operationId":"updatePartnerContactUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"partnerContactDto","description":"partnerContactDto","required":true,"schema":{"$ref":"#/definitions/PartnerContactReqDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PartnerContactResDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"JWT":["global"]}],"deprecated":false},"delete":{"tags":["partner-contact-controller"],"summary":"Delete a partner contact","description":"Delete a partner contact specifying the id of the contact","operationId":"deletePartnerContactUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"JWT":["global"]}],"deprecated":false}},"/omb/partnerpolicy/{id}":{"put":{"tags":["partner-policy-controller"],"summary":"Update PartnerPolicy row","description":"Update PartnerPolicy row","operationId":"updateUsingPUT_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description
[...]
